@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Stack+Sans+Text:wght@200..700&family=Unna:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
  margin: 0;
  font-family: "DM Serif Display", serif !important;
  background-image: linear-gradient(to left, rgb(216, 103, 37), rgb(182, 210, 45));
}